@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(
		to right,
		#0f172a,
		#1e1b4b,
		#a855f7,
		#f43f5e,
		#0ea5e9
	);
	@apply min-h-screen;
	@apply font-space-grotesk;
}
